@import "./variables";
#team {
  padding: $sectionPadding;
  h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: overline;
    text-decoration-color: rgb(47, 210, 227);
  }
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
  }
  .card {
    // width: clamp(25rem, 30%, 50rem);
    width: clamp(18.75rem, 15.0735rem + 14.7059vw, 25rem);
    padding: 20px;
    background: linear-gradient(45deg, #e3e230, rgb(47, 210, 227));
    .img-container {
      overflow: hidden;
      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        transition: 1s;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
    .card-content {
      margin-top: 15px;
      text-align: center;
    }
  }
}
